
.list-item-label {
    color: #798A88;
    font-weight: 600;
}

.list-item {
    color: #B3BEB8;
}

.slds-split-view__list-item-action[aria-selected="true"],
.slds-split-view__list-item-action[aria-selected="true"]:focus,
.slds-split-view__list-item-action:focus {
    border: 1px solid #93ECC2;
    box-shadow: inset 0 0 0 1px #93ECC2;
    background-color: #EDFAF3;
}

.pad-right {
    padding-right: 15px;
}
.list-item-priority {
    margin-top: 5px;
    width: 8px;
    height: 8px;
    background-color: #D7A335;
    border-radius: 10px;
    right: 15px;
    position: absolute;
}
.list-item-priority.important {
    background-color: #FB2544;
}