.nav-container {
    background-color: #313540;
    height: 100%;
}

nav {

}

nav a.active {
    color: white;
    background-color: #252934;
    font-weight: 600;
}

nav a {
    color: #767A85;
    padding: 20px 30px;
    display: block;
}

nav a:hover {
    color: white;
}