.slds-button.slds-split-view__toggle-button {
    display: none;
}

.section-title {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2.5em;
    color: #56666F;
}

.slds-split-view {
    padding: 30px 20px;
    background-color: transparent;
}

.slds-split-view_container {
    width: 60%;
    border-right: 1px solid #E4E8EB;
}

.list-section {
    height: 100%;
}

.slds-tabs--default {
    min-height: 98%;
}

#task-view > .slds-grow {
    padding-left: 0.5rem;
}