.slds-button.slds-split-view__toggle-button {
    display: none;
}
.slds-tabs_default__nav, .slds-tabs--default__nav {
    border-bottom: none;
}

.tab-title {
    color: #7E868F;
    text-transform: capitalize;
}

.tab-count {
    color: #54636E;
    font-size: 1.5em;
}

.slds-tabs_default, .slds-tabs--default {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.slds-tabs_default__item, .slds-tabs--default__item {
    padding: 8px 1em 0;
    width: 33.33333%;
    opacity: 0.8;
    background-color: #E9EDF0;
    border: solid 1px #E3E6E9;
}


.slds-tabs--default__item.slds-active {
    background-color: #fff;
}

.slds-tabs_default__item:after, .slds-tabs--default__item:after {
    height: 0;
}

.slds-tabs_default__item.slds-active:after,
.slds-tabs_default__item.slds-is-active:after,
.slds-tabs--default__item.slds-active:after,
.slds-tabs--default__item.slds-is-active:after {
    background-color: #E3E6E9;
}

.slds-tabs_default__item:hover, .slds-tabs--default__item:hover {
    background: #fff;
}

.slds-tabs_default__item:hover:after, .slds-tabs--default__item:hover:after {
    background-color: #E3E6E9;
}

.slds-tabs--default__link {
    line-height: 1.5rem;
    height: 4rem;
}

.section-title {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2.5em;
    color: #56666F;
}

.slds-split-view {
    padding: 30px 20px;
    background-color: transparent;
}

.list-item-label {
    color: #798A88;
    font-weight: 600;
}

.list-item {
    color: #B3BEB8;
}

.slds-split-view__list-item-action:focus {
    border: 1px solid #93ECC2;
    box-shadow: inset 0 0 0 1px #93ECC2;
    background-color: #EDFAF3;
}

.details-section {
    padding-right: 20px;
}

.details-header {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-header .section-nav {
    display: flex;
}

.details-header .section-nav > div {
    font-size: 0.95em;
    padding:0 10px;
    border-right: 1px solid #C3C8CC;
    color: #C3C8CC;
    cursor: pointer;
}

.details-header .section-nav > div:hover {
    color: #7E868F;
}

.details-header .section-nav > div:last-of-type {
    border-right: 0;
    margin-right: 5px;
}

.details-header .section-nav .slds-icon {
    transform: rotate(90deg);
    fill: #ACB4BB;
    cursor: pointer;
    margin-bottom: 2px;
}

.details-header .section-nav .slds-icon:hover {
    fill: #7E868F;
}


.details-chart {
    width: 380px;
    margin: 0 auto;
}

.details-info-container {
    display: flex;
    justify-content: space-between;
}

.details-ranking {
    color: #99A0A7;
    font-size: 1.1em;
    margin-top: 5px;
}


.details-info-stat-box {
    width: 33%;
    padding: 6px 8px;
}

.details-info-top .details-info-stat-box {
    margin-top: 3px;
    margin-bottom: 6px;
    border-left: 3px solid #80DC87;
    background-color: #E4F9E5;
}

.details-info-value {
    font-size: 1.5em;
    font-weight: 800;
}

.details-info-top .details-info-stat-box .details-info-value {
    color: #82DE8A;
}

.details-info-top .details-info-stat-box:first-of-type {
    border-left: 3px solid #84DA89;
    background-color: #E4F9E5;
}

.details-info-top .details-info-stat-box:first-of-type .details-info-value {
    color: #20C726;
}

.details-info-top .details-info-name {
    color: #4A824C;
    font-weight: 600;
}


.details-info-bottom .details-info-stat-box {
    border-left: 3px solid #E83439;
    background-color: #FEEEEE;
}


.details-info-bottom .details-info-name {
    color: #9F4B4D;
    font-weight: 600;
}

.details-info-bottom .details-info-stat-box .details-info-value {
    color: #F5989A;
}

.details-info-bottom .details-info-stat-box:last-of-type .details-info-value {
    color: #EA4D4F;
}