.slds-button.slds-split-view__toggle-button {
    display: none;
}

.section-title {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2.5em;
    color: #56666F;
}

.slds-split-view {
    padding: 30px 20px;
    background-color: transparent;
}